<div class="wrapper" #afyaMain id="afya-app-main">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="navbar-brand">
            <!-- <div class="toggle-button" (click)="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </div> -->
            <span class="nav-title">
                <img class="logo" src="../../assets/images/rono_logo.jpeg">
                <span style="padding-left: 10px;">ELDORET NEUROSURGERY</span>
            </span>
            <!-- <div class="sidebar-title">
                <h5></h5>
                style="margin-left: 50px;"
            </div> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#afya-main-navbar"
            aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="afya-main-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-user" aria-hidden="true"></i>{{user?.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-logout" (click)="logout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="sidebar">
        <div class="nav">
            <ul>
                <!-- <li class="nav-item">
                    <a routerLink="/account/home" routerLinkActive="active">Home</a>
                </li> -->

                <li class="nav-item">
                    <a routerLink="/account/patient-records" routerLinkActive="active"><i class="fa fa-book" aria-hidden="true"></i>Patient Records</a>
                </li>

                <li class="nav-item">
                    <a routerLink="/account/register-patient" routerLinkActive="active"><i class="fa fa-user-plus" aria-hidden="true"></i>Register Patient</a>
                </li>

                <li class="nav-item">
                    <a routerLink="/account/active-sessions" routerLinkActive="active"><i class="fa fa-user-circle" aria-hidden="true"></i>Active Sessions</a>
                </li>

                <li class="nav-item">
                    <a routerLink="/account/follow-up-sessions" routerLinkActive="active"><i class="fa fa-calendar" aria-hidden="true"></i>Follow Up Sessions</a>
                </li>

                <li class="nav-item">
                    <a routerLink="/account/retrieve-session" routerLinkActive="active"><i class="fa fa-file" aria-hidden="true"></i>Retrieve Session</a>
                </li>
                
            </ul>
        </div>
    </div>

    <div id="main-content" class="main">
        <!-- (click)="removeSidebar()" -->
        <div id="afya-app-content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>