
/* * {
    font-family: sans-serif;
} */

#afya-app-main {
    background-color: #f8f9fa;
    width: 100%;
    min-height: 100vh;
}

.sidebar-title {
    padding: 0px 5px;
    color: white;
    margin-top: 10px;
    /* border-bottom: 1px solid whitesmoke; */
    margin-left: 60px;
}

.wrapper .toggle-button {
    padding: 5px 5px;
    position: absolute;
    top: 5px;
}

.wrapper .toggle-button span {
    display: block;
    width: 30px;
    height: 5px;
    background: whitesmoke;
    margin: 5px 0px;
}

.nav-title .logo {
    width:40px;
    margin-top: -7px;
    border-radius: 10px;
}

.wrapper #sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #ced4da;
    /* left: -250px; */
    z-index: 1000;
    font-family: sans-serif;
}

.wrapper.toggled #sidebar {
    left: 0px;
}

#sidebar .nav {
    margin-top: 80px;
    padding-top: 20px;
    margin-right: 2px;
}

#sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

#sidebar .nav .nav-item {
    margin: 10px 0px;
}

#sidebar .nav .nav-item a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
    cursor: pointer;
    background-color: whitesmoke;
    margin-right: 5px;
}

.nav-item a i {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
}

#sidebar .nav .nav-item a.active {
    background-color: #dc3545;
    color: white;
}

.wrapper #main-content {
    margin-left: 250px;
    min-height: 100vh;
}


.navbar-dark {
    background-color: #a92c38;
}

.navbar-dark .navbar-brand {
    color: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-link {
    color: #dee2e6;
    font-size: 18px;
}

.nav-item .nav-link i {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #e7eaf6;
    color: #c2374c;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-link.nav-logout {
    color: black;
}

.navbar-dark .navbar-nav .nav-link.nav-logout:hover {
    color: yellow;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
}

#afya-app-content {
    background-color: whitesmoke;
    padding-top: 75px;
    font-family: sans-serif;
    /* width: 100%; */
}